.row{
    margin-right:0px;
}
.navbar-fixed-top{
    height: 50px;
}
.navbar-collapse{
    border-radius: 0px;
}

.formInputWrapper {
    min-width: 240px;
    max-width: 500px;
    width: 60%;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    background-color: #E5E5E5;
    padding: 25px;
    box-shadow: 10px 10px 5px #888888;
}

.errorMessage {
    margin-top: 10px;
    padding-left: 8px;
}

form {
    width: 100%;
}

.spaceForButton {
    margin-top: 5px;
}

.succesfullRegistration {
    padding-left: 8px;
    padding-right: 8px;
}
body{
    background-color: #FFF;
}

/*AddDatabasePage*/

#ConnectionSuccess{
    word-break:break-all;
    padding: 0% 3%;
}
#AddDatabaseButton{
    margin-top: 5px;
    float: right;
    
}
/*AddDatabasePage*/

@media(max-width:768px) {
    #SignedInAs{
        display:none;
    }
}

.navbar-collapse{
    background-color:inherit;
    border-color:inherit;

}

.navbar-inverse{
    border-color:inherit;
}

.navbar-header{
    -webkit-box-sizing:unset;
    box-sizing:unset;
    width:100%;
}

.nav {
    -webkit-box-sizing:unset;
    box-sizing:unset;
}

