.row{
    margin-right:0px;
}
.navbar-fixed-top{
    height: 50px;
}
.navbar-collapse{
    border-radius: 0px;
}
a:hover{
    cursor:pointer;
}

.formInputWrapper {
    min-width: 240px;
    max-width: 500px;
    width: 60%;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    background-color: #E5E5E5;
    padding: 25px;
    box-shadow: 10px 10px 5px #888888;
}

body{
    background-color: #FFF;
}

/*AddDatabasePage*/
#AddDatabaseButtonGroup {
    width:25%;
    margin:0 auto;
}
#ConnectionSuccess {
    word-break: break-all;
    padding: 0% 3%;
}
#AddDatabaseButton{
    margin-top: 5px;
    
}

#AddDatabaseErrorMessage{
    text-align:center;
    margin-bottom:10px;
}
/*AddDatabasePage*/
@media(max-width:768px) {
    #SignedInAs{
        display:none;
    }
}

.navbar-collapse{
    background-color:inherit;
    border-color:inherit;

}

.navbar-inverse{
    border-color:inherit;
}

.navbar-header{
    -webkit-box-sizing:unset;
    box-sizing:unset;
    width:100%;
}

.nav {
    -webkit-box-sizing:unset;
    box-sizing:unset;
}

.alert-danger{
    display:inline-block;
}

.whiteBorderFortables{
    overflow-x:auto;
}

.alert-dismissable .close{
    right:auto;
}

.LoadingOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
}



