body{
    background-color: rgb(194, 194, 194);
}

.formInputWrapper {
    min-width: 240px;
    max-width: 300px;
    width: 22%;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    box-shadow: 10px 10px 5px #888888;
}

.errorMesasge{
    margin-top:10px;
    padding-left:8px;
}

form{
    width: 100%;
}

.spaceForButton{
    margin-top:5px;
}

.succesfullRegistration{
    padding-left: 8px;
}