body {
    background-color: #222;
}

.formInputWrapper {
    min-width: 240px;
    max-width: 300px;
    width: 22%;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    box-shadow: 10px 10px 5px black;
}