body{
    background-color: rgb(194, 194, 194);
}

.formInsideWrapper {
    min-width: 240px;
    max-width:300px;
    width: 22%;
    display: flex;
    margin-top:25px;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    box-shadow: 10px 10px 5px #888888;
}

.errorMesasge{
    margin-top:5px;
}

form{
    width: 100%;
}