@model Dto.Database
@{
    var model = ViewContext.ViewData.Model as Dto.BaseModel;
    if (!model.IsPartial)
    {
        Layout = "~/Views/Shared/_PageMainLayout.cshtml";
    }
    else
    {
        Layout = null;
    }
}
<div id="page-wrapper">

    <div class="container-fluid">
        @*
    @if (Model.TableNames.Count() != 0)
    {
        <div class="table-hover">
            <table class="table table-bordered table-responsive table-hover">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                @foreach ()
                {
                    <tr>
                        <td align="center"><a class="fa fa-table"></a></td>
                    </tr>
                }
            </table>

        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    @Resources.MainPageVievCurrentDatabaseResources.NoTablesToShow
                </h1>
            </div>
        </div>
    }
        *@
    </div>
</div>




