
@{
    Layout = "~/Views/Shared/Error.cshtml";
    ViewBag.Title = "Error: 500";
}


<div class="container errorPage">
    <h1>@Resources.ErrorPageResources.head_500</h1>
    <div class="row">
        <div class="image-container clearfix">
            <img id="hamtaro" src="~/Content/Images/500hamster.jpg" class="img-responsive" />
        </div>
        <div class="alert alert-danger text-center">@Resources.ErrorPageResources.body_500</div>
    </div>
</div>