@model ProjectyMcProjectface.Models.UserLogIn
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login page</title>
    @Styles.Render("~/Content/LoginVisuals")

</head>
<body>
    @using (Html.BeginForm("LogInAction", "Login", FormMethod.Post))
    {
        <div class="container-fluid" id="login-Wrapper">
           <input type="text" name="UserName" placeholder="Username"/>
           <input  name="Password" type="password" placeholder="Password"/>
            <br />
            <input type="submit" />
        </div>
    }
    @Scripts.Render("~/bundles/ScriptsForLoginPage")
</body>
</html>
