<!DOCTYPE html>
<html>
<head>
    <title>PMcPf</title>
    @Styles.Render("~/Content/LoginVisuals")

</head>
<body>
    <div id="FormWrapper">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/FormValidationsScripts")
    @Scripts.Render("~/bundles/ScriptsForLoginPage")
   
</body>
</html>
