<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    @Styles.Render("~/Content/LoginVisuals")
</head>
<body>
    <div id="FormWrapper">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/ScriptsForLoginPage")
</body>
</html>
