<!DOCTYPE html>
<html>
<head>
    <title>PMcPf</title>
    @Styles.Render("~/Content/LoginVisuals")
    @Scripts.Render("~/bundles/FormValidationsScripts")

</head>
<body>
    <div id="FormWrapper">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/ScriptsForLoginPage")

   
</body>
</html>
